%tr
  %td= survey.title
  %td= survey.enabled
  %td= survey.questions.count
  %td= survey.submission_count
  %td
    = time_ago_in_words(survey.created_at)
    ago
  %td
    = time_ago_in_words(survey.updated_at)
    ago
  %td.text-right
    = link_to 'Edit', edit_admin_survey_path(survey), class: 'btn btn-primary'
    = link_to 'Delete', admin_survey_path(survey), class: 'btn btn-danger', data: { confirm: 'Are you sure to delete?' }, method: :delete