= tabs_tag :open_tabs=>{ class: 'nav nav-tabs main-tabs' } do |tab|
  = tab.survey 'Survey', edit_admin_survey_path(@survey)
  = tab.questions 'Questions', admin_survey_questions_path(@survey)
  = tab.export 'Export', export_admin_survey_path(@survey)
  = tab.metrics 'Metrics', metrics_admin_survey_path(@survey)

= tabs_tag :open_tabs=>{ class: 'nav nav-tabs locales-tabs' }, :namespace => :navigation do |tab|
  - @survey.locales.each do |locale|
    = tab.send(locale, locale, url_for({locale: locale}))