= render 'tabs'

%h2= "Total submissions: #{@survey.submission_count}"
- @survey.questions.each do |question|
  %h3=question.text
  - question.answers.each do |answer|
    .row
      .col-sm-2
        = answer.text
      .col-sm-2
        = answer.submission_count
  %br
  .row
    %div.col-sm-6{id: "graph-pie-#{question.id}"}
    %div.col-sm-6{id: "graph-bar-#{question.id}"}
  %p
  .row
    %div.col-sm-6{id: "graph-bar-percentage-#{question.id}"}
    %div.col-sm-6{id: "graph-line-#{question.id}"}
      :javascript
        $(function () {
            
            // Make monochrome colors and set them as default for all pies
          Highcharts.getOptions().plotOptions.pie.colors = (function () {
                  var colors = [],
                      base = Highcharts.getOptions().colors[0],
                      i

                  for (i = 0; i < 10; i++) {
                      // Start out with a darkened base color (negative brighten), and end
                      // up with a much brighter color
                      colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
                  }
                  return colors;
          }());
          
          // Build the chart
          // pie
              $('#graph-pie-#{question.id}').highcharts({
                  chart: {
                      plotBackgroundColor: null,
                      plotBorderWidth: null,
                      plotShadow: false
                  },
                  title: {
                      text: null
                  },
                  tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                  },
                  plotOptions: {
                      pie: {
                          allowPointSelect: true,
                          cursor: 'pointer',
                          dataLabels: {
                              enabled: true,
                              format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                              style: {
                                  color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                              }
                          }
                      }
                  },
                  series: [{
                      type: 'pie',
                      data: #{question.graph_pie_data.to_json}
                  }]
              });
          // bar
              $('#graph-bar-#{question.id}').highcharts({
                  chart: {
                    type: 'column'
                  },
                  title: {
                      text: null
                  },
                  xAxis: {
                      categories: #{question.answer_names.to_json},
                      title: {
                          text: null
                      }
                  },
                  yAxis: {
                      min: 0,
                      allowDecimals: false,
                      title: {
                          text: 'submission count',
                          align: 'high'
                      },
                      labels: {
                          overflow: 'justify'
                      }
                  },
                  plotOptions: {
                      bar: {
                          dataLabels: {
                              enabled: true
                          }
                      }
                  },
                  series: [{
                      type: 'column',
                      name: "#{question.text}",
                      data: #{question.graph_bar_data.to_json}
                  }]
              });

              // bar
              $('#graph-bar-percentage-#{question.id}').highcharts({
                  chart: {
                    type: 'column'
                  },
                  title: {
                      text: null
                  },
                  xAxis: {
                      categories: #{question.answer_names.to_json},
                      title: {
                          text: null
                      }
                  },
                  yAxis: {
                      min: 0,
                      allowDecimals: false,
                      title: {
                          text: 'submission count',
                          align: 'high'
                      },
                      labels: {
                          overflow: 'justify'
                      }
                  },
                  plotOptions: {
                      bar: {
                          dataLabels: {
                              enabled: true
                          }
                      }
                  },
                  series: [{
                      type: 'column',
                      name: "#{question.text}",
                      data: #{question.graph_bar_data_percentages.to_json}
                  }]
              });

              // line
              $('#graph-line-#{question.id}').highcharts({
                title: {
                    text: null
                },
                xAxis: {
                    categories: #{question.graph_line_categories.to_json}
                },
                yAxis: {
                    title: {
                        text: 'Submission count'
                    },
                    allowDecimals: false,
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: #{question.graph_line_series.to_json}
            });
          });
      

  %hr
  #container