= render 'tabs'

%h2= "Total submissions: #{@survey.submission_count}"
- @survey.questions.each do |question|
  %h3=question.text
  - question.answers.each do |answer|
    .row
      .col-sm-2
        = answer.text
      .col-sm-2
        = answer.submission_count
  - Question::GRAPH_TYPES.each do |graph_type|
    .col-sm-6
      = render "/admin/questions/graph_#{graph_type}", question: question
      %br/