- question.rows.times do |n|

  .col-lg-12

    %p.text-right
      %span.btn.btn-primary.pull-left.curdef
        = " #{n+1}"

  .col-lg-12
    %p.text-right
      = link_to new_account_survey_question_answer_path(survey, question, row: n), class: "btn btn-primary", "data-target" => "#modal", "data-toggle" => "modal" do
        Add New Answer

    .well
      %table.table.table-condensed.table-striped

        - question.send("answers_#{n}").each do |answer|
          %tr
            %td
              %h4.radio
                %label
                  = radio_button_tag "answers[]", answer.id
                  = answer.text
            %td
              .text-right
                - if !answer.image.blank?
                  %a{:rel => 'lightbox', :href => answer.image_url}
                    %span.glyphicon.glyphicon-eye-open

                = link_to edit_account_survey_question_answer_path(survey, question, answer),  "data-target" => "#modal", "data-toggle" => "modal" do
                  %span.glyphicon.glyphicon-edit
                = link_to account_survey_question_answer_path(survey, question, answer),:class => 'btn btn-danger', data: { confirm: 'Are you sure to delete?' }, method: :delete do
                  %span.glyphicon.glyphicon-trash
            

