.col-lg-12
  %p.text-right
    = link_to new_account_survey_question_answer_path(survey, question), class: "btn btn-primary", "data-target" => "#modal", "data-toggle" => "modal" do
      Add New Answer

.col-lg-12
  - question.answers.each do |answer|
    .col-lg-4.panel
      %h4.radio
        %label
          = radio_button_tag "answer[]", answer.id
          = answer.text
      %hr
      - if !answer.image.blank?
        %a{:rel => 'lightbox', :href => answer.image_url}

          %i.icon.icon-eye

      = link_to edit_account_survey_question_answer_path(survey, question, answer),  "data-target" => "#modal", "data-toggle" => "modal" do
        %i.icon.icon-pencil

      = link_to account_survey_question_answer_path(survey, question, answer), :class => 'text-danger', data: { confirm: 'Are you sure to delete?' }, method: :delete do
        %i.icon.icon-trash

      %div.modal.fade{id: "modal-#{answer.id}", :role => "dialog"}
        = render "account/answers/form", answer: answer
