%tr
  %td
    = question.id
  %td.question-title
    %span.tooltipp{ data: { toggle: 'tooltip', placement: 'right' }, title: truncate(question.description, length: 100, separator: ' ', omission: ' ...') }
      = question.text
  %td
    = question.answers.count
  %td
    = Question::TYPES.key(question.question_type)
  %td
    = question.position
  %td.actions
    = link_to edit_account_survey_question_path(@survey, question) do
      %i.glyphicon.glyphicon-pencil
    = link_to account_survey_question_path(@survey, question), data: { confirm: "Are you sure to delete?" }, method: :delete do
      %i.glyphicon.glyphicon-trash
    - if question.position > 1
      = link_to sort_account_survey_question_path(@survey, question, { move: 'higher' }) do
        %i.glyphicon.glyphicon-arrow-up
    - else
      %span.placeholder
    - if question.position < @questions.count
      = link_to sort_account_survey_question_path(@survey, question,  { move: 'lower' }) do
        %i.glyphicon.glyphicon-arrow-down


  -#
  -#.panel-collapse.collapse{id: "panel-question#{question.id}"}
  -#  .panel-body
  -#    %p
  -#      %strong Created at:
  -#      = question.created_at
  -#    %p
  -#      %strong Updated at:
  -#      = question.updated_at
  -#
  -#    - if !question.image.blank?
  -#      %p
  -#        %strong Question Image:
  -#        = image_tag question.image_url, class: 'img-circle img-thumbnail'
  -#
  -#    - if !question.description.blank?
  -#      %p
  -#        %strong Description:
  -#        = question.description
  -#    %p
  -#      %strong Answers
  -#
  -#    = render 'answers', survey: @survey, question: question