%tr
  %td
    - if !question.image.blank?
      = question.text
    - else
      = question.text
  %td
    %ul.nolist.admin_answers
      - question.answers.each do |answer|
        %li
          - if !answer.image.blank?
            = answer.text
          - else
            = answer.text
          %strong
            = "(#{answer.submission_count} submissions)"
  %td= Question::TYPES.key(question.question_type)
  %td
    = question.created_at
  %td
    = question.updated_at
  %td
    = question.position
  %td.actions
    = link_to '', edit_account_survey_question_path(@survey, question), class: 'icon icon-pencil'
    = link_to '', account_survey_question_path(@survey, question), class: 'icon icon-trash', data: { confirm: "Are you sure to delete?" }, method: :delete

    = link_to "", sort_account_survey_question_path(@survey, question, { move: 'higher' }) , class:'icon icon-level-up'
    = link_to "", sort_account_survey_question_path(@survey, question,  { move: 'lower'  }) , class:'icon icon-level-down'

    -# class:'icon icon-level-up'
    -# class:'icon icon-level-down'