- if !question.new_record?
  .panel.panel-default
    .panel-heading
      %h2.panel-title
        %a{ data: { parent: '#accordion', toggle: 'collapse'}, href: '#collapseThree' } Child Questions
    #collapseThree.panel-collapse.collapse
      .panel-body
        .row
          .col-sm-12
            = link_to new_account_survey_question_question_path(survey, question), class: 'btn btn-primary', data: { target: '#modal', toggle: 'modal' } do
              %i.icon.icon-plus
              Add new question

        .row
          .col-sm-12
            %div{id: "question#{question.id}_children"}
              - if question.children.count > 0
                .col-sm-12.table-responsive
                  %table.table.table-striped.table-condensed.table-hover
                    %colgroup
                      %col{ width: '*' }
                      %col{ width: '18%' }
                    %thead
                      %tr
                        %th
                          %i.icon.icon-tag
                          Question
                        %th
                          %i.icon.icon-cog-alt
                          Actions
                    %tbody
                      - question.children.each do |child|
                        %tr
                          %td
                            = child.text
                            -# if !answer.image.blank?
                              %a{:rel => 'lightbox', :href => child.image_url}
                                %i.icon.icon-eye
                          %td.actions

                            = link_to edit_account_survey_question_question_path(question.survey, question, child), class: '', data: { target: '#modal', toggle: 'modal' } do
                              %i.glyphicon.glyphicon-pencil
                            = link_to account_survey_question_question_path(question.survey, question, child), :class => 'text-danger', data: { confirm: 'Are you sure to delete?' }, method: :delete do
                              %i.glyphicon.glyphicon-trash