%tr
  %td
    - if !question.image.blank?
      = question.text
    - else
      = question.text
  %td
    %ul.nolist.admin_answers
      - question.answers.each do |answer|
        %li
          - if !answer.image.blank?
            = answer.text
          - else
            = answer.text
          %strong
            = "(#{answer.submission_count} submissions)"
  %td= Question::TYPES.key(question.question_type)
  %td
    = question.created_at
  %td
    = question.updated_at
  %td.col-sm-2
    = link_to '', edit_account_survey_question_path(@survey, question), class: 'icon icon-pencil'
    = link_to '', accountpi_survey_question_path(@survey, question), class: 'icon icon-trash text-danger', data: { confirm: "Are you sure to delete?" }, method: :delete