= render 'account/surveys/tabs'

.panel-body
  .tab-content
    #tab1.tab-pane.active
      .row.mb20
        .col-xs-12
          %h1
            %small Edit Question and answers
            = @question.text
        .col-sm-8
          %p
            = @question.description
        .col-xs-6.col-sm-2.infodata
          %div.questions
            Question #
            %span.value= @question.id
        .col-xs-6.col-sm-2.infodata
          %div.answers
            Answers
            %span.value= @question.answers.count
      .row
        .col-xs-12
          = render 'form'