= render 'account/shared/navigations_profile'

.modal-header
  %h4.modal-title Plans

.modal-body


  #plans
    %h2 Select Plan
    .shortline.mb2

    .row
      %ul.col-md-4
        %li.plan-head
          %h3 Free
        %li.plan-image
          = image_tag 'package1.png'
          %span.price.price-year
            %span 0,-€
            %span.price-small Free
          %span.price.price-month
            %span Create your account now!

        - Package.free.limitations.each do |limitation|
          %li{ class: limitation.status==1?'yes':'no'}
            = limitation.description

        %li.upgrade.noborder
          Use opinion7 for free!
        %li.buy.free
          - if !account_signed_in?
            = link_to 'Register', new_account_registration_path
          - else
            = link_to 'Register', '#'

      %ul.col-md-4
        %li.plan-head
          %h3 Pro
        %li.plan-image
          = image_tag 'package2.png'
          %span.price
            %span 49,-€
            %span.price-small 1 year
          %span.price.price-month
            %span or
            %span 4.90,-€
            %span.price-small / 1 month

        - Package.pro.limitations.each do |limitation|
          %li{ class: limitation.status==1?'yes':'no'}
            = limitation.description

        %li.upgrade.noborder
          Upgrade to PRO
        %li.buy
          - Package.pro.plans.each do |plan|
            = link_to time_ago_in_words(plan.duration.months.ago) , new_account_subscription_path(plan_id: plan.id), class: 'pull-left'

      %ul.col-md-4
        %li.plan-head
          %h3 Expert
        %li.plan-image
          = image_tag 'package3.png'
          %span.price
            %span 62,-€
            %span.price-small 1 year
          %span.price.price-month
            %span or
            %span 6.49,-€
            %span.price-small / 1 month
        
        - Package.expert.limitations.each do |limitation|
          %li{ class: limitation.status==1?'yes':'no'}
            = limitation.description

        %li.upgrade.noborder
          Upgrade to EXPERT
        %li.buy
          - Package.expert.plans.each do |plan|
            = link_to time_ago_in_words(plan.duration.months.ago) , new_account_subscription_path(plan_id: plan.id), class: 'pull-left'


  -##plans.addpadding
  -#  %h2 Select Plan
  -#  .shortline.mb2
  -#
  -#  .row
  -#    - @plans.each_with_index do |plan, i|
  -#      %ul.col-md-4
  -#        %li.plan-head
  -#          %h3
  -#            = plan.name
  -#        %li.plan-image
  -#          = image_tag plan.image_url, class: 'img-responsive'
  -#          %span.price
  -#            %span
  -#              = plan.price == 0 ? 'free' : money_with_cents_and_with_symbol(plan.price)
  -#            %span.price-small
  -#            -#- unless plan.price == 0
  -#            -#  = "/ #{pluralize(plan.duration, 'month')}"
  -#        %li.yes
  -#          = plan.description
  -#        %li.buy
  -#          - if plan.id != @plan.id
  -#            = link_to "#{((plan.position.to_i>@plan.position.to_i)? 'Upgrade': 'Downgrade')} to #{plan.name}", new_account_subscription_path(plan_id: plan.id), class: 'btn btn-primary btn-block'
  -#          - else
  -#            = link_to "Current Plan", '#', class: 'btn btn-default btn-block'


.modal-footer