= render 'account/shared/navigations_profile'

.modal-header
  %h4.modal-title Plans

.modal-body


  #plans
    %h2 Select Plan
    .shortline.mb2

    .row
      %ul.col-md-4
        %li.plan-head
          %h3 Free
        %li.plan-image
          = image_tag 'package1.png'
          %span.price.price-year
            %span 0,-€
            %span.price-small Free
          %span.price.price-month
            %span Create your account now!
        %li.yes
          Create 3 surveys
        %li.yes
          Use 1 language for your survey
        %li.yes
          Survey statistics
        %li.yes
          500MB space
        %li.no
          Embed your survey
        %li.upgrade.noborder
          Use opinion7 for free!
        %li.buy.free
          = link_to 'Register', '#'

      %ul.col-md-4
        %li.plan-head
          %h3 Pro
        %li.plan-image
          = image_tag 'package2.png'
          %span.price
            %span 49,-€
            %span.price-small 1 year
          %span.price.price-month
            %span or
            %span 4.90,-€
            %span.price-small / 1 month
        %li.yes
          Create unlimited surveys
        %li.yes
          Use unlimited languages for your survey
        %li.yes
          Survey statistics
        %li.yes
          5GB space
        %li.yes
          Embed your survey
        %li.upgrade.noborder
          Upgrade to PRO
        %li.buy
          = link_to '1 year', '#', class: 'pull-left'
          = link_to '1 month', '#', class: 'pull-right'

      %ul.col-md-4
        %li.plan-head
          %h3 Expert
        %li.plan-image
          = image_tag 'package3.png'
          %span.price
            %span 62,-€
            %span.price-small 1 year
          %span.price.price-month
            %span or
            %span 6.49,-€
            %span.price-small / 1 month
        %li.yes
          Create unlimited surveys
        %li.yes
          Use unlimited languages for your survey
        %li.yes
          Survey statistics
        %li.yes
          10GB space
        %li.yes
          Embed your survey
        %li.upgrade.noborder
          Upgrade to EXPERT
        %li.buy
          = link_to '1 year', '#', class: 'pull-left'
          = link_to '1 month', '#', class: 'pull-right'

  -##plans.addpadding
  -#  %h2 Select Plan
  -#  .shortline.mb2
  -#
  -#  .row
  -#    - @plans.each_with_index do |plan, i|
  -#      %ul.col-md-4
  -#        %li.plan-head
  -#          %h3
  -#            = plan.name
  -#        %li.plan-image
  -#          = image_tag plan.image_url, class: 'img-responsive'
  -#          %span.price
  -#            %span
  -#              = plan.price == 0 ? 'free' : money_with_cents_and_with_symbol(plan.price)
  -#            %span.price-small
  -#            -#- unless plan.price == 0
  -#            -#  = "/ #{pluralize(plan.duration, 'month')}"
  -#        %li.yes
  -#          = plan.description
  -#        %li.buy
  -#          - if plan.id != @plan.id
  -#            = link_to "#{((plan.position.to_i>@plan.position.to_i)? 'Upgrade': 'Downgrade')} to #{plan.name}", new_account_subscription_path(plan_id: plan.id), class: 'btn btn-primary btn-block'
  -#          - else
  -#            = link_to "Current Plan", '#', class: 'btn btn-default btn-block'


.modal-footer