= bootstrap_form_for([:account, @survey], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f|
  = f.text_field :title
  = f.text_area :description, rows: 10
  - if !@survey.logo.blank?
    = f.form_group do
      = image_tag(@survey.logo_url, :class => 'img-responsive')
      = f.check_box :remove_logo
  - else
    = f.file_field :logo

  = f.select :enabled, [true, false]
  = f.collection_check_boxes :locales, Rails.application.config.i18n.available_locales, :to_s, :to_s
  
  %hr
  = f.form_group do
    = f.submit "Save Survey", class: 'btn btn-primary'
    - unless @survey.new_record?
      = link_to "Edit Questions", account_survey_questions_path(@survey), class: 'btn btn-primary'
    = link_to 'Cancel', :back, class: 'btn btn-default'