%tr
  %td
    %span.tooltipp{ data: { toggle: 'tooltip', placement: 'right' }, title: truncate(survey.description, length: 200, separator: ' ', omission: ' ...') }
      = survey.title
  %td
    - if survey.enabled
      %i.icon.icon-ok.text-success.tooltipp{ data: { toggle: 'tooltip', placement: 'right' }, title: 'published' }
    - else
      %i.icon.icon-cancel.text-danger.tooltipp{ data: { toggle: 'tooltip', placement: 'right' }, title: 'pending' }
  %td= survey.questions.count
  %td= survey.submissions.count
  %td
    = survey.created_at.to_formatted_s(:long)
  %td
    = survey.updated_at.to_formatted_s(:long)
  %td.actions
    = link_to preview_survey_path(survey), target: '_blank' do
      %span.glyphicon.glyphicon-eye-open
    = link_to edit_account_survey_path(survey) do
      %span.glyphicon.glyphicon-pencil
    = link_to account_survey_path(survey), data: { confirm: 'Are you sure to delete?' }, method: :delete do
      %span.glyphicon.glyphicon-trash