%tr
  %td= survey.title
  %td
    %span.label.label-warning
      = survey.enabled
  %td= survey.questions.count
  %td= survey.submission_count
  %td
    = survey.created_at
  %td
    = survey.updated_at
  %td.actions
    = link_to preview_survey_path(survey), target: '_blank' do
      %span.glyphicon.glyphicon-eye-open
    = link_to edit_account_survey_path(survey) do
      %span.glyphicon.glyphicon-pencil
    = link_to account_survey_path(survey), data: { confirm: 'Are you sure to delete?' }, method: :delete do
      %span.glyphicon.glyphicon-trash