= render 'account/shared/navigations_profile'

.panel-body
  .tab-content
    .tab-pane.active
      .row
        .col-xs-12.mb20
          %h1 Profile

      .row
        .col-xs-12
          = bootstrap_form_for([:account, @account], url: account_profile_path, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-6', inline_errors: false) do |f|
            = f.error_summary

            %legend Basic information
            = f.text_field :first_name , size: 50
            = f.text_field :last_name , size: 50
            = f.text_field :email, input_html: {disabled: true}

            - if !@account.avatar_image.blank?
              = f.form_group do
                .row
                  .col-sm-6
                    = image_tag @account.avatar_image_url, class: 'img-responsive img-thumbnail'
                    = f.check_box :remove_avatar_image
            - else
              = f.file_field :avatar_image

            %legend Billing Address
            = f.fields_for :billing_address do |a|
              = a.text_field :address_1, required: true
              = a.text_field :address_2
              = a.text_field :city, required: true
              = a.text_field :state, required: true
              = a.text_field :postal_code, required: true
              = a.select :country, ActionView::Helpers::FormOptionsHelper::COUNTRIES, required: true, input_html: { class: 'form-control' }

            = f.form_group do
              = f.submit 'Save', class: 'btn btn-primary'
              = link_to 'Cancel', :back, class: 'btn btn-default'