%div{id: "graph-line-#{question.id}"}
:javascript
  $(function () {
    
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'graph-line-#{question.id}',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: #{question.graph_line_data(3).to_json},
      // The name of the data record attribute that contains x-values.
      xkey: 'month',
      // A list of names of data record attributes that contain y-values.
      ykeys: #{question.answer_names.to_json},
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: #{question.answer_names.to_json}
    });
  });