%tr
  %td
    - if !question.image.blank?
      = image_tag question.image_url
    - else
      = question.text
  %td
    - question.answers.each do |answer|
      %li
        - if !answer.image.blank?
          = image_tag answer.image_url
        - else
          = answer.text
        %strong
          = "(#{answer.submission_count} submissions)"
  %td= Question::TYPES.key(question.question_type)
  %td
    = time_ago_in_words(question.created_at)
    ago
  %td
    = time_ago_in_words(question.updated_at)
    ago
  %td.text-right.col-sm-2
    = link_to 'Edit', edit_admin_survey_question_path(@survey, question), class: 'btn btn-primary'
    = link_to 'Delete', admin_survey_question_path(@survey, question), class: 'btn btn-danger', data: { confirm: "Are you sure to delete?" }, method: :delete