= bootstrap_form_for([:admin, @plan], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f|
  = f.text_field :name, autofocus: true
  = f.text_field :description
  = f.text_field :price, label: "Price"
  = f.text_field :duration, label: "Duration(months)"
  = f.text_field :position
  - if !@plan.image.blank?
    = f.form_group do
      .row
        .col-sm-6
          = image_tag @plan.image_url, class: 'img-responsive img-thumbnail'
          = f.check_box :remove_image
  - else
    = f.file_field :image
    
  = f.select :status, Plan::STATUSES

  %hr
  = f.text_field :maximum_surveys_count
  = f.text_field :maximum_languages_count
  
  = f.form_group do
    = f.submit "Submit", class: 'btn btn-sm btn-primary'
    = link_to "Back", :back, class: 'btn btn-sm btn-default'