%h3
  = question.text
  
- if !question.image.blank?
  %a{:rel => 'lightbox', :href => question.image_url}
    = image_tag question.image_url, class: 'img-circle pull-right img-thumbnail'
    

%div
  - question.rows.times do |n|
    .clearfix
      .row
        - question.send("answers_#{n}").each do |answer|
          .col-sm-2
            = radio_button_tag "survey[questions][#{question.id}][rows][#{n}][answer]", answer.id
            %label{for: "survey_questions_#{question.id}_rows_#{n}_answer_#{answer.id}"}
              - if !answer.image.blank?
                = answer.text
                %a{:rel => 'lightbox', :href => answer.image_url}
                  = image_tag answer.image_url, class: 'img-thumbnail'
              - else
                = answer.text