%h3
  %i.icon.icon-help-circled
  = question.text
  
- if !question.image.blank?
  %a{:rel => 'lightbox', :href => question.image_url}
    = image_tag question.image_url, class: 'img-responsive'
    

.answers-wrapper.table-responsive
  %table.table-striped.table-hover
    %colgroup
      - answer_width = 70 / question.answers.count
      %col{ width: '30%' }
      - question.answers.each do
        %col{ width: "#{answer_width}%" }
    %thead
      %tr
        %th
        - question.answers.each do |answer|
          %th.text-center
            = answer.text
            -# if !answer.image.blank?
              %a{:rel => 'lightbox', :href => answer.image_url}
                = image_tag answer.image_url, class: 'img-responsive'
    %tbody
      - question.children.each do |child|
        %tr.answer
          %td
            = child.text
            -# if !child.image.blank?
              %a{:rel => 'lightbox', :href => child.image_url}
                = image_tag child.image_url, class: 'img-responsive'
          - question.answers.each do |answer|
            %td.text-center
              .customcheckbox
                %label{for: "survey_questions_#{child.id}_answer_#{answer.id}"}
                  = radio_button_tag "survey[questions][#{child.id}][answer]", answer.id, false, onchange: 'check_answers(this);'
                  %i.icon.icon-check-empty