%h3
  - if !question.image.blank?
    %a{:rel => 'lightbox', :href => question.image_url}
      = image_tag question.image_url, class: 'img-circle pull-right'
    = question.text
  - else
    = question.text

.row
  - question.answers.each do |answer|
    .col-sm-2
      = radio_button_tag "survey[questions][#{question.id}][rows][0][answer]", answer.id
      %label{for: "survey_questions_#{question.id}_rows_0_answer_#{answer.id}"}
        - if !answer.image.blank?
          = answer.text
          %a{:rel => 'lightbox', :href => answer.image_url}
            = image_tag answer.image_url
        - else
          = answer.text