%h2= @survey.title
%p.help-block
  = @survey.description

= form_tag submit_survey_path(@survey), method: :post, id: "submit-survey-#{@survey.id}" do |f|
  - @survey.questions.each do |question|
    = render 'question', question: question

  = submit_tag 'Submit', class: 'btn btn-primary'