= render "layouts/header_admin"
#content
  #showsurvey.container
    .row
      .col-md-12
        .panel
          %h2= @survey.title
          .row
            .col-md-6
              - if !@survey.logo.blank?
                = image_tag(@survey.logo_url, :class => 'img-responsive')
            .col-md-6
              = @survey.description

          %hr
          %h3 Questions
          = form_tag submit_survey_path(@survey), method: :post, id: "submit-survey-#{@survey.id}" do |f|
            - @survey.questions.each do |question|
              .question
                = render 'questions', question: question

            = submit_tag 'Submit', class: 'btn btn-primary'