= bootstrap_form_for([:account, @survey, @question, @answer], remote: true, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-9') do |f|
  .answer_block
    = f.text_field :text, label: 'Answer'

    - if !f.object.image.blank?
      = f.form_group do
        .img-thumbnail
          = image_tag(f.object.image_url, :class => 'img-responsive')
        = f.check_box :remove_image
    - else
      = f.file_field :image, class: 'fileupload'

    = f.select :position, @question.options_for_answer_position, label: 'Position before'


  = f.form_group do
    .pull-right
      %button#close-button.btn.btn-default{ data: { dismiss: 'modal' }, type: 'button' } Close
      = f.submit 'Save', class: 'btn btn-primary'

:javascript
  $(".fileupload").fileinput({
    showUpload: false,
    browseClass: "btn btn-success"
  });