= render 'account/shared/navigations_profile'

.modal-header
  %h4.modal-title Subscriptions
  
.modal-body
  .table-responsive
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th Method
          %th Plan
          %th Sub total
          %th Tax
          %th Total
          %th Expired at
          %th Status
          %th Paid
          %th Paid at
          %th Invoice
      %tbody
        - if @subscriptions.count > 0
          - @subscriptions.each do |subscription|
            %tr
              %td= subscription.payment_method
              %td= subscription.plan
              %td= money_with_cents_and_with_symbol subscription.subtotal
              %td= money_with_cents_and_with_symbol subscription.tax
              %td= money_with_cents_and_with_symbol subscription.total
              %td= subscription.expired_at
              %td
                - if subscription.is_inactive?
                  %span.label.label-default Inactive
                - elsif subscription.is_canceled?
                  %span.label.label-warning Canceled
                - else
                  %span.label.label-success Active
              %td
                - if subscription.paid
                  %span.label.label-success Yes
                - else
                  %span.label.label-default No
              %td= subscription.created_at.to_date
              %td
                - if subscription.invoice_file.file
                  = link_to 'Download Invoice', subscription.invoice_file.url, :class => 'btn btn-default btn-xs btn-action'

        - else
          %tr
            %td{colspan: 10} You have no subscriptions

  .clearfix
  - if current_account.has_active_subscription? and current_account.active_subscription.payment_method != 'baio'
    %samll.pull-right
      %i Please contact admin if you want to cancel active subscription

.modal-footer
