!!!
%html
  %head
    %title Opinion7
    = render 'shared/meta_tags'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body{ class: "#{controller_name}_#{action_name}"}
    #wrapper
      = render 'shared/header_account'
      = render 'shared/flashes'
      #content
        #contentbody.container
          .row
            .panel.panel-actions
              = yield
      = render 'shared/footer'
      
      = javascript_include_tag 'application'
      = javascript_include_tag 'accounts'