!!!
%html
  %head
    %title Opinion7
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #wrapper
      = render 'layouts/header_admin'
      = render "/shared/flashes"
      / Seetings start
      #content
        / product actions
        #contentbody.container
          .row
            / h1>wadd can i do</h1
            .panel.panel-actions
              - unless yield(:heading).blank?
                .panel-heading
                  = yield :heading
              .panel-body
                = yield