- if !params[:style].blank?
  = stylesheet_link_tag    'application', media: 'all'
- if notice
  %p.alert.alert-info.notice= notice
- if alert
  %p.alert.alert-danger= alert

= render "/shared/flashes"
= yield