!!!
%html
  %head
    %title Opinion7
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #wrapper
      - if account_signed_in?
        = render "layouts/header_admin"
      - else
        = render "layouts/header"

      = render "/shared/flashes"
      #page.container.nopadding
        .row
          .col-md-12
            = yield
      = render "layouts/footer"